<div class="diagram-container">
    <div class="diagram-and-detail">
        <div class="bpmn-diagram">
            @if (processBridgeDto && bpmnManagerService) {
                <app-bpmn-diagram-container [bpmnManager]="bpmnManagerService" />
            } @else {
                <div class="bpmn-placeholder">
                    <img src="/assets/bpmn-placeholder.svg" alt="bpmn-placeholder" />
                </div>
            }
        </div>
        <div class="diagram-detail">
            <app-process-bridge-detail [activityConf]="activityConfig" [incidentConf]="incidentInfoConfig" />
        </div>
    </div>

    @if (processBridgeDto) {
        <div class="flex" style="flex: 1">
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">Process Instances</p-tab>
                    <p-tab value="1">Bridge Config</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <app-process-bridge-instance-table />
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <app-process-bridge-config-table [isBridgeConfig]="true" />
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
    } @else {
        <div>No data selected</div>
    }
</div>
