.log-table-timestamp {
    cursor: pointer;
}

.data-with-use-id {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.id-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
