@if ((logs.messages.length | fallback: 0) === 0) {
    <p-panel header="No Logs available" [style]="{height: '20.42rem'}"></p-panel>
} @else {
    <app-table
        [columnTemplate]="customTableColumns"
        [totalAvailableCount]="logs.maxResults | fallback: 0"
        [availableData]="logs.messages"
        [defaultColumnsOfTable]="$logColumns()"
        [tableConfigurationIdentifier]="LOG_CONFIG_TABLES.LOG_TABLE_LIST"
        [defaultRows]="offsetLogTable"
        (onLazyLoad)="handleLazyLoad.emit($event)"
    >
        (onSingleSelectionChanged)="handleSelectionChange($event)"-->
        <ng-template let-instance="entryOfTable" let-columns="columnsOfTable" #customTableColumns>
            <tr [pSelectableRow]="instance">
                @for (column of columns; track column.field) {
                    @switch (column.field) {
                        @case ('timestamp') {
                            <td
                                class="log-table-timestamp"
                                [cdkCopyToClipboard]="instance[column.field] | dateISOString"
                                pTooltip="Click to copy"
                            >
                                {{ instance[column.field] | dateISOString }}
                            </td>
                        }
                        @case ('processInstanceId') {
                            <td>
                                @if (instance[column.field]) {
                                    <div class="data-with-use-id">
                                        <app-workflow-filter-selection-group
                                            [$workFlowFilterElementSting]="instance[column.field]"
                                            [$workFlowFilterKey]="'processInstanceId'"
                                        />
                                    </div>
                                } @else {
                                    NONE
                                }
                            </td>
                        }
                        @case ('requestId') {
                            <td>
                                @if (instance[column.field]) {
                                    <div class="data-with-use-id">
                                        <app-workflow-filter-selection-group
                                            [$workFlowFilterElementSting]="instance[column.field]"
                                            [$workFlowFilterKey]="'requestId'"
                                        />
                                    </div>
                                } @else {
                                    NONE
                                }
                            </td>
                        }
                        @case ('message') {
                            <td>
                                <app-log-table-message [$message]="instance[column.field]" />
                            </td>
                        }
                        @default {
                            <td>{{ instance[column.field] }}</td>
                        }
                    }
                }
            </tr>
        </ng-template>
    </app-table>
}
